@import url(base.css);

h1 {
  font-size: 200%;
  margin: 8px 0px;
}

img {
  border-radius: 12px;
}

article {
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  margin: 2vw;
}

span {
  margin-right: 4px;
}

.genre {
    background-color: #444; 
    color: white;          
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.85em;
    display: inline-block;
}

input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  width: 100%;
}
